.emermanager {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &_type {
    padding: 5px 5px;
    background-color: #fff;
    z-index: 99;
    &__label {
      margin-right: 20px;
    }
  }
  &_table {
    flex: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
  }
}
