.ClueTracking {
  height: 98%;
  .ClueTracking-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ClueTracking-content {
    width: 100%;
    // .ant-table-thead > tr > th {
    //   background-color: #4aa1ff;
    //   color: white;
    // }
  }
}
