.EleInfo {
  &-tabContainer {
    display: flex;
    justify-content: space-between;
    .ant-select,
    .ant-select-selector {
      min-width: 120px;
      background-color: transparent !important;
      color: #fff !important;
    }
    .ant-select-selector {
      border: 1px solid rgba(32, 99, 122, 0.8) !important;
    }
    .ant-select-selection-placeholder {
      color: white;
    }
    .ant-select-selection-item {
      color: white !important;
    }
    .ant-select-arrow {
      color: white !important;
    }
  }
}
