.RankInfo {
  .scrollList {
    .list-warpper {
      background: none !important;

      .title {
        color: #fff;
      }

      .body {
        background: linear-gradient(
          90deg,
          rgba(5, 82, 118, 0.1) 0%,
          rgba(5, 82, 118, 0.3)
        );
        color: #fff;
        padding-left: 18px;
      }

      .body:nth-child(2n) {
        background: linear-gradient(
          90deg,
          rgba(33, 104, 125, 0.42) 0%,
          rgba(74, 129, 169, 0) 100%
        );
      }
    }

    .list-warpper--content {
      border-bottom: none;
      width: 443px;
      height: 42px;

      li {
        border-right: none;
      }
      li:nth-child(1) {
        flex: 4;
        justify-content: flex-start;
        overflow: hidden;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      li:nth-child(2) {
        flex: 2;
      }
      li:nth-child(3) {
        flex: 2;
      }
    }
  }
}
