.ClueCollect {
  height: 98%;
  overflow-y: hidden;
  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 10px 0;
  }
  .ClueCollect-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ClueCollect_content {
    width: 100%;
    overflow-y: auto;
  }
}
